<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-6 mx-auto">
    <h3 class="mb-3 mt-3">Create New Listing</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label fw-semibold">Title</label>
        <input
          name="listing[title]"
          placeholder="enter some catchy title"
          type="text"
          id="title"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-semibold"
          >Description</label
        >
        <textarea
          name="listing[description]"
          placeholder="enter your description"
          class="form-control"
          id="description"
          required
        ></textarea>
        <div class="invalid-feedback">Enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label fw-semibold">Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          id="image"
          required
        />
        <div class="invalid-feedback">Upload a Listing Image</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-5">
          <label for="price" class="form-label fw-semibold">Price</label>
          <input
            name="listing[price]"
            type="number"
            placeholder="price"
            class="form-control"
            id="price"
            required
          />
          <div class="invalid-feedback">Enter a valid price</div>
        </div>
        <div class="mb-3 col-md-7">
          <label for="country" class="form-label fw-semibold">Country</label>
          <input
            name="listing[country]"
            placeholder="country"
            type="text"
            class="form-control"
            id="country"
            required
          />
          <div class="invalid-feedback">Enter a valid country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label fw-semibold">Location</label>
        <input
          name="listing[location]"
          placeholder="location"
          type="text"
          class="form-control"
          id="location"
          required
        />
        <div class="invalid-feedback">Enter a valid location</div>
      </div>
      <button class="btn btn-dark add-btn mb-3">Add</button>
    </form>
  </div>
</div>
